@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<svelte-app id="khalid" name="Khalid"></svelte-app>
<svelte-app id="paul" name="Paul"></svelte-app>

<div style="width: 300px">
    <svg-clock></svg-clock>
</div>